extends layout

block content

  .message-board-headers
    if user
      p.welcome-user Welcome back #{user.firstname}!
    h2 Clubhouse Messages
  section.messages-container
    each message in messages
      .message-container
        .message-header
          h3 #{message.title}
          if user.admin
            form(method="POST" action="/message/"+message.id)
              button(type="submit" class="delete-message-btn") Delete
        if user
          p By #{message.author.firstname}
          p #{message.timestamp_formatted}
        p #{message.text}
    else
      p No messages available

