extends layout

block content
  if user
    p Welcome back #{user.firstname}!
  else
    a(href="/auth/login") Login
    a(href="/auth/register") Register
  h2 Clubhouse Messages
  each message in messages
    .message-container
      h3 #{message.title}
      if user
        p Author: #{user.firstname}
        p Date: #{message.date}
      p #{message.text}
  else
    p No messages available

